<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Pal Field needs location access to track your mileage for tax deductions while you drive, even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Pal Field needs location access to track your mileage for tax deductions and calculate distances to job sites.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Pal Field needs location access to track your mileage for tax deductions while you drive, even when the app is in the background.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.GIDSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.814472950392-aec7v85kqa58uj43pqjf73q8gvft0i31</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeCar</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.palfield.emailcheck</string>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.pallowvoltage.fieldapp</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
			<key>NSUbiquitousContainerName</key>
			<string>Pal Field</string>
		</dict>
	</dict>
</dict>
</plist>
